<div class="card-container" (click)="closeModal('home')">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-md-offset-1">
        <div class="card center-card" (click)="stopPropagation($event)">
          <div class="card-header row" data-background-color="red">
            <div class="row">
              <div class="col-md-3">
                <img class="profile-photo" src="../assets/img/faces/profile_photo.jpg">
              </div>
              <div class="col-md-9">
                <h4 class="title">{{event.name}}</h4>
                <p class="category">{{event.categories.join(', ')}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4">
                General
              </div>
              <div class="col-md-4">
                Friends
              </div>
              <div class="col-md-4">
                Chat
              </div>
            </div>
          </div>
          <div class="card-content">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Title</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Categories</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" style="margin-top:0px;">
                    <div class="form-group form-black label-floating is-empty" style="margin-top:0px;">
                      <label class="control-label">Description</label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-focused">
                    <label class="control-label is-focused">Start Date</label>
                    <input type="date" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-focused">
                    <label class="control-label is-focused">Last Name</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Adress</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">City</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Country</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Postal Code</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>



              <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
