<div class="card card-stats" >
  <div class="row">
    <div class="col-sm-3 message-sender">
      <img class="profile-photo" [src]="user.profile_img">
    </div>
    <div class="card-content col-sm-9">
      <ng-content select="[card-preheader]"></ng-content>
      <h4 class="title">{{user.name.first}} {{user.name.last}}</h4>
    </div>
  </div>
  <div *ngIf="actions.length" class="card-footer row">
    <div class="row text-center block" style="display:block;">
      <div *ngIf="actions.includes('message')" class="col-sm-6">
        <a style="color:inherit;"><i class="material-icons">reply</i> Message</a>
      </div>
      <div *ngIf="actions.includes('invite')" class="col-sm-6">
        <a style="color:inherit;"><i class="material-icons">mail</i> Invite</a>
      </div>
      <div *ngIf="actions.includes('poke')" class="col-sm-6">
        <a style="color:inherit;"><i class="material-icons">mail</i> Invite</a>
      </div>
    </div>
  </div>
</div>
