<div class="card-content">
  <div class="wrapper">
    <div class="inner" id="inner">
      <div class="row">
        <div class="col col-sm-offset-2 col-sm-8 text-center">
          <div class="card" >
            <h3>--- Event Created ---</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-sm-offset-1 col-sm-8"> -->
          <app-received-message includeAlignment="true" messageId="1"></app-received-message>
        <!-- </div> -->
      </div>
      <div class="row">
        <!-- <div class="col-sm-offset-3 col-sm-8"> -->
          <app-sent-message includeAlignment="true" messageId="2"></app-sent-message>
        <!-- </div> -->
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-8">
          <div class="card outgoing-message">
            <div class="card-content row" style="overflow:initial;">
              <div class="col-sm-9">
                <h4>Actually you're probably gonna want to bring shorts and running shoes, I think people are trying to go pretty hard haha </h4>
              </div>
              <div class="col-sm-3 message-sender">
                <img class="message-photo" src="../assets/img/faces/profile_photo.jpg">
                <p class="category"><small>Angus McLean</small></p>
              </div>
            </div>
            <!-- <div class="card-footer">
              <div class="stats">
                <i class="material-icons">reply</i> <a href="#">Reply </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-8">
          <div class="card outgoing-message">
            <div class="card-content row" style="overflow:initial;">
              <div class="col-sm-3 message-sender">
                <img class="message-photo" src="../assets/img/faces/profile_photo2.jpg">
                <p class="category"><small>Luc Morandi</small></p>
              </div>
              <div class="col-sm-9">
                <h4>Yooo swag swaaag</h4>
              </div>
            </div>
            <!-- <div class="card-footer">
              <div class="stats">
                <i class="material-icons">reply</i> <a href="#">Reply </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <br>
      </div>
    </div>
    <div class="bottom" id="bottom">
      <textarea class="input" id="input"></textarea>
      <div class="send" id="send"></div>
    </div>
  </div>
</div>
