<div class="card-content">
    <div>
      <div class="row">
          <app-received-message includeAlignment="true" messageId="1"></app-received-message>
      </div>
      <div class="row">
          <app-sent-message includeAlignment="true" messageId="2"></app-sent-message>
      </div>
      <div class="row">
        <app-sent-message includeAlignment="true" messageId="3"></app-sent-message>
      </div>
      <div class="row">
        <app-sent-message includeAlignment="true" messageId="4"></app-sent-message>
      </div>
      <div class="row padding-top">
        <br>
      </div>
    </div>
    <div class="bottom" id="bottom">
      <textarea class="input" id="input"></textarea>
      <div class="send" id="send"></div>
    </div>
</div>
