<div class="card-container" (click)="closeModal('home')">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-md-offset-1">
        <div class="card center-card" (click)="stopPropagation($event)">
          <div class="card-header row" data-background-color="red">
            <div class="card-option-right">
              <button md-button [mdMenuTriggerFor]="menu">
                <i class="material-icons">more_vert</i>
              </button>
              <md-menu #menu="mdMenu" positionX="150px">
                <button md-menu-item>
                  <a><i class="material-icons">dialpad</i> Redial</a>
                </button>
                <button md-menu-item>
                  <a><i class="material-icons">voicemail</i> Check voicemail</a>
                </button>
                <button md-menu-item>
                  <a><i class="material-icons">notifications_off</i> Disable alerts</a>
                </button>
              </md-menu>
            </div>
            <div class="row" style="margin-right:20px;">
              <div class="col-md-3">
                <img class="large-photo" src="../assets/img/faces/profile_photo.jpg">
              </div>
              <div class="col-md-7">
                <h4 class="title" [ngClass]="{'material-editable':isEditing|async}" [attr.contenteditable]="isEditing | async" spellcheck="false">{{event.name}}</h4>
                <p class="category" [ngClass]="{'material-editable':isEditing|async}" [attr.contenteditable]="isEditing | async" spellcheck="false">{{event.categories.join(', ')}}</p>
              </div>
              <div class="col-md-2 text-center" (click)="editClick.next()">
                <h2 class="title" style="margin-bottom: 0px;">8</h2>
                <p style="margin-bottom: 0px;">May</p>
                <p class="category">1pm - 6pm</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div [routerLink]="['general']" class="col-md-4">
                General
              </div>
              <div [routerLink]="['attendees']" class="col-md-4">
                Friends
              </div>
              <div [routerLink]="['messages']" class="col-md-4">
                Chat
              </div>
            </div>
          </div>
          <div class="wrapper" style="height:60vh;">
            <router-outlet name="header"></router-outlet>
            <div class="inner" id="inner" style="padding-top:0px; position:absolute;">
              <router-outlet style="overflow-x:hidden;"></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
