<div class="wrapper">
    <div class="sidebar" data-color='red' data-image="">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
      <navbar-cmp></navbar-cmp>
      <router-outlet></router-outlet>
    </div>
    <span id="app-action" class="app-action">
      <button class="btn btn-round btn-just-icon" type="submit">
        <i class="material-icons">bubble_chart</i><div class="ripple-container"></div>
      </button>
    </span>
</div>
