<div [ngClass]="{'col-sm-offset-3 col-sm-8': includeAlignment }">
  <div class="card outgoing-message">
    <div class="card-content row" style="overflow:initial;">
      <div class="col-sm-9">
        <h4>Bring whatever you want homie!! It's gonna be amazing!</h4>
      </div>
      <div class="col-sm-3 message-sender">
        <img class="message-photo" src="../assets/img/faces/profile_photo.jpg">
        <p class="category"><small>Angus McLean</small></p>
      </div>
    </div>
    <!-- <div class="card-footer">
      <div class="stats">
        <i class="material-icons">reply</i> <a href="#">Reply </a>
      </div>
    </div> -->
  </div>
</div>
