<div [ngClass]="{'col-sm-offset-1 col-sm-8': includeAlignment }">
  <div class="card" >
    <div class="col-sm-3 message-sender">
      <img class="message-photo" src="../assets/img/faces/profile_photo1.jpg">
      <p class="category"><small>Amy Mary-Anne</small></p>
    </div>
    <div class="card-content" style="padding-left:0px;">
      <h4>I'm so excited for this! What should I bring?</h4>
    </div>
      <!-- <div class="card-footer">
        <div class="stats">
        <i class="material-icons">reply</i> <a href="#">Reply </a>
      </div>
    </div> -->
  </div>
</div>
